@{
  ViewBag.Title = "Home page";
  Layout = "_Layout";
}

<h1>O mundo</h1>
<p>Esse vai ser um website da hora em breve!</p>

<form>
    <div>
        <label>Data</label>
        <input />
    </div>
    <div>
        <label>Localização</label>
        <input />
    </div>
    <div><input type="submit" value="Adicionar" /></div>
</form>